<style type="text/css">
  body
  {
    
   width: 124%;
	margin-top: -150px;
margin-left: -140px;background-image: url("http://easyday.snydle.com/files/2013/08/happy-wedding-wishes.jpg"); -webkit-background-size: cover; -moz-background-
size: cover; -o-background-size: cover; background-size: cover; padding: 190px 0
110px 0; color: #ffffff;
        
  }
</style>
 